/* index.html */

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    height: 100%;
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.left-section {
    background-color: #b6d2ec6e; 
    text-align: center;
}

#aboutSection h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #333;
}

#aboutSection p {
    font-size: 1.2rem;
    color: #555;
}

.right-section {
    background-color: #ffffff;
    text-align: center;
}

#loginSection, #registerSection {
    width: 100%;
    max-width: 400px;
}

#loginSection input, #registerSection input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#loginSection button, #registerSection button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginSection button:hover, #registerSection button:hover {
    background-color: #0056b3;
}

#loginSection p, #registerSection p {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #333;
}

#loginSection a, #registerSection a {
    color: #007BFF;
    text-decoration: none;
}

#loginSection a:hover, #registerSection a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
    font-size: 12px;
    font-weight: normal;
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: normal;
}

footer a:hover {
    text-decoration: underline;
}

/* color.html */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    }

    th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    }

    .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    z-index: 1000;
    }

    .popup input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 5px;
    }

    .popup-buttons {
    display: flex;
    justify-content: flex-end;
    }

    .popup-buttons button {
    margin-left: 10px;
    padding: 5px 15px;
    }

    .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    }